### 공통 설정 ###
HELP.md
target/
build/
!/backend/inflow/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### 백엔드 관련 설정 ###
/backend/inflow/target/
/backend/inflow/build/

### 프론트엔드 관련 설정 ###
# /frontend/node_modules/
# frontend/dist/
# frontend/.nuxt/
# frontend/.output/